<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <div class="PageHead">
                <h1>Course Mark Average</h1>
            </div>
            <div class="PageContent">
                <% if (chosen) { %>
                    <%= translation.course_id %> :
                    <%= course_data[0].CourseID %>
                    <br>

                    <%= translation.average_mark %> :
                    <%= course_data[0].Course_Markaverage %>
                    <br>
                <% } else { %>
                    <table>
                        <tr>
                            <th><%= translation.course_id %></th>
                            <th><%= translation.average_mark %></th>
                        </tr>
    
                        <% if (course_data.length > 0){  %>
                            <% course_data.forEach( function(course) { %>
                                <tr>
                                    <td> <a href="/course_mark_average?courseid=<%= course['CourseID'] %>"> <%= course["CourseID"] %> </a> </td>
                                    <td> <%= course["Course_Markaverage"] %> </td>
                                </tr>
                            <% }) %>
                        <% }; %>
                    </table>
                <% } %>

                <button class="NavButton" onclick="history.back()"><%= translation.nav_back %></button>
            </div>
        </div>
    </body>

</html>