<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <%- include("essentials/page_head.ejs") %>
            <div class="PageContent">
                <% if (chosen) { %>
                    <h3>General Data</h3>

                    <p>
                        <%= translation.course_id %> :
                        <%= course_data.course %>
                        <br>

                        <%= translation.average_mark %> :
                        <%= course_data.average %>
                        <br>
                        <h3>Marks</h3>
                        <% if (mark_data.length > 0){  %>
                            <table>
                                <th> <%= translation.exam %> </th>
                                <th> <%= translation.mark %> </th>
                                <th> <%= translation.amount %> </th>
                                <% mark_data.forEach( function(mark) { %>
                                    <% var colorMarkClass = "MarkRed" %>
                                    <% if ( parseFloat(mark["reached_mark"]) <= 4.0 ) { %>
                                        <% colorMarkClass = "MarkGreen" %>
                                    <% }; %>
                                    <tr>
                                        <td> <p> <%= mark["exam_nr"] %> </p> </td>
                                        <td> <b class="<%= colorMarkClass %>"><%= parseFloat(mark["reached_mark"]).toFixed(1) %> </b> </td>
                                        <td> <p> <%= mark["count"] %> </p> </td>
                                    </tr>
                                    
                                <% }) %>
                            </table>
                        <% }; %>
                        <br>
                        <br>
                    </p>
                <% } else { %>
                    <table>
                        <tr>
                            <th><%= translation.course_id %></th>
                            <th><%= translation.average_mark %></th>
                        </tr>
    
                        <% if (course_data.length > 0){  %>
                            <% course_data.forEach( function(course) { %>
                                <tr>
                                    <td> <a href="/course_mark_average?courseid=<%= course['course'] %>"> <%= course["course"] %> </a> </td>
                                    <td> <%= course["average"] %> </td>
                                </tr>
                            <% }) %>
                        <% }; %>
                    </table>
                <% } %>

                <button class="StandardButton" id="go-back"><%= translation.nav_back %></button>
            <div>
        </div>
    </body>

</html>