<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <div class="PageHead">
                <div class="PageHeadContainer">
                    <h1>Course Mark Average</h1>
                </div>
            </div>
            <div class="PageContent">
                <% if (chosen) { %>
                    <h3>General Data</h3>
                    <%= translation.course_id %> :
                    <%= course_data.CourseID %>
                    <br>

                    <%= translation.average_mark %> :
                    <%= course_data.Course_Markaverage %>
                    <br>
                    <h3>Marks</h3>
                    <% if (mark_data.length > 0){  %>
                        <% mark_data.forEach( function(mark) { %>
                            <% var colorMarkClass = "MarkRed" %>
                            <% if ( parseFloat(mark["reached_mark"]) <= 4.0 ) { %>
                                <% colorMarkClass = "MarkGreen" %>
                            <% }; %>
                            <b class="<%= colorMarkClass %>"><%= parseFloat(mark["reached_mark"]).toFixed(1) %> : </b> <%= mark["count"] %>
                            <br>
                        <% }) %>
                    <% }; %>
                    <br>
                    <br>
                <% } else { %>
                    <table>
                        <tr>
                            <th><%= translation.course_id %></th>
                            <th><%= translation.average_mark %></th>
                        </tr>
    
                        <% if (course_data.length > 0){  %>
                            <% course_data.forEach( function(course) { %>
                                <tr>
                                    <td> <a href="/course_mark_average?courseid=<%= course['CourseID'] %>"> <%= course["CourseID"] %> </a> </td>
                                    <td> <%= course["Course_Markaverage"] %> </td>
                                </tr>
                            <% }) %>
                        <% }; %>
                    </table>
                <% } %>

                <button class="StandardButton" id="go-back"><%= translation.nav_back %></button>
            </div>
        </div>
    </body>

</html>