<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <div class="PageHead">
                <h1>University SQL Database</h1>
            </div>
            <div class="PageContent">
                <div class="CategoryContainer">
                    <div class="one">
                        <a href="/student_overview"> 
                            <button class="CategoryButton"> 
                                <img src="/public/images/icons/uni_hat_01.png">
                                <%= translation.btn_student_info %> 
                            </button> 
                        </a>
                    </div>

                    <div class="two">
                        <a href="/course_overview"> 
                            <button class="CategoryButton"> 
                                <img src="/public/images/icons/uni_course_01.png">
                                <%= translation.btn_coursa_data %> 
                            </button> 
                        </a>
                    </div>

                    <div class="three">
                        <a href="/student_overview"> 
                            <button class="CategoryButton"> 
                                <img src="/public/images/icons/uni_exam_01.png">
                                <%= translation.btn_exams %> 
                            </button> 
                        </a>
                    </div>

                    <div class="one">
                        <a href="/home"> 
                            <button class="CategoryButton"> 
                                <img src="/public/images/icons/uni_package_01.png">
                                <%= translation.template %> 
                            </button> 
                        </a>
                    </div>

                    <div class="two">
                        <a href="/home"> 
                            <button class="CategoryButton"> 
                                <img src="/public/images/icons/uni_package_01.png">
                                <%= translation.template %> 
                            </button> 
                        </a>
                    </div>

                    <div class="three">
                        <a href="/home"> 
                            <button class="CategoryButton"> 
                                <img src="/public/images/icons/uni_package_01.png">
                                <%= translation.template %> 
                            </button> 
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </body>

</html>