<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <div class="PageHead">
                <h1>University SQL Database</h1>
            </div>
            <div class="PageContent">

                <table>
                    <tr>
                        <td><a href="/student_overview"> <button class="CategoryButton"> <%= translation.btn_student_info %> </button> </a></td>
                        <td><button class="CategoryButton"><%= translation.btn_coursa_data %></button></td>
                        <td><button class="CategoryButton"><%= translation.btn_exams %></button></td>
                        <td><button class="CategoryButton"><%= translation.template %></button></td>
                        <td><button class="CategoryButton"><%= translation.template %></button></td>
                    </tr>
                    <tr>
                        <td><button class="CategoryButton"><%= translation.template %></button></td>
                        <td><button class="CategoryButton"><%= translation.template %></button></td>
                        <td><button class="CategoryButton"><%= translation.template %></button></td>
                        <td><button class="CategoryButton"><%= translation.template %></button></td>
                        <td><button class="CategoryButton"><%= translation.template %></button></td>
                    </tr>
                </table>

            </div>
        </div>
    </body>

</html>