<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <%- include("essentials/page_head.ejs") %>
            <div class="PageContent">
                
                <table>
                    <tr>
                        <th><%= translation.location %></th>
                        <th><%= translation.street %></th>
                        <th><%= translation.postcode %></th>
                        <th><%= translation.city %></th>
                    </tr>

                    <% if (location_data.length > 0){  %>
                        <% location_data.forEach( function(location) { %>
                            <tr>
                                <td> <%= location["location_name"] %> </td>
                                <td> <%= location["street"] %> </td>
                                <td> <%= location["fk_postcode"] %> </td>
                                <td> <%= location["postcode_city"] %> </td>
                            </tr>
                        <% }) %>
                    <% }; %>
                </table>

                <a href="/home"> <button class="StandardButton"><%= translation.nav_back %></button> </a>
            <div>
        </div>
    </body>

</html>