<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <div class="PageContent">
                <form action="/login" method="post" class="loginform">
                    <h1> <%=translation.app_title%></h1>
                    <label for="form_input_username"> 
                        <%= translation.lbl_email %>
                    </label>
                    <input type="text" id="form_input_email" name="form_input_email" class="inputfieldForm" autocomplete="off" role="presentation" autofill="off">
                    <br>
                    <label for="form_input_password"> 
                        <%= translation.lbl_password %>
                    </label>
                    <input type="password" id="form_input_password" name="form_input_password" class="inputfieldForm" autocomplete="off" role="presentation" autofill="off">
                    <br>

                    <div class="FlexBox">
                        <button type="submit" class="StandardButtonWide" util="done"> <%= translation.btn_login %> </button>
                        <button type="button" class="StandardButtonWide" id="go-back"><%= translation.nav_back %></button> 
                    </div>
                </form>
            </div>
        </div>
    </body>

</html>