<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <div class="PageHead">
                <div class="PageHeadContainer">
                    <h1>My Profile</h1>
                </div>
            </div>
            <div class="PageContent">
                
                <h3>My Data</h3>
                <b><%= translation.firstname %></b> : <%= mydata.firstname %>
                <br>
                <b><%= translation.surname %></b> : <%= mydata.surname %>
                <br>
                <b><%= translation.mail_private %></b> : <%= mydata.email_private %>
                <br>
                <b><%= translation.mail_service %></b> : <%= mydata.email_service %>

                <h3>My Courses</h3>

                <table>
                    <tr>
                        <th><%= translation.course_id %></th>
                        <th><%= translation.module_name %></th>
                        <th><%= translation.ects %></th>
                        <th><%= translation.semester %></th>
                        <th><%= translation.mark %></th>
                    </tr>

                    <% if (mycourses.length > 0){  %>
                        <% mycourses.forEach( function(course) { %>
                            <tr>
                                <%  var colorMarkClass = "MarkRed" 
                                    course["reached_mark"] = course["reached_mark"] || ""
                                %>
                                <% if ( parseFloat(course["reached_mark"]) <= 4.0 ) { %>
                                    <% colorMarkClass = "MarkGreen" %>
                                <% }; %>
                                <td> <a href="/course_mark_average?courseid=<%= course['course_id'] %>"> <%= course["course_id"] %> </a> </td>
                                <td> <%= course["module_name"] %> </td>
                                <td> <%= course["module_ects"] %> </td>
                                <td> <%= course["semester"] %> </td>
                                <% if ( isNaN( parseFloat(course["reached_mark"]) ) ){ %>
                                    <td> <b class="<%= colorMarkClass %>"> ... </b> </td>
                                <% } else { %>
                                    <td> <b class="<%= colorMarkClass %>"><%= parseFloat(course["reached_mark"]).toFixed(1) %></b> </td>
                                <% }; %>
                            </tr>
                        <% }) %>
                    <% }; %>
                </table>

                <a href="/home"> <button class="StandardButton"><%= translation.nav_back %></button> </a>
            <div>
        </div>
    </body>

</html>