<!DOCTYPE html>
<html lang="de">
    <%- include("import.ejs") %>

    <body>
        <div class="Page">
            <%- include("essentials/page_head.ejs") %>
            <div class="PageContent">

                <div class="search-container">
                    <form action="/student" method="post">
                      <input type="text" placeholder="<%= translation.search %>" name="search">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                
                <table>
                    <tr>
                        <th><%= translation.matric_num %></th>
                        <th><%= translation.fullname %></th>
                        <th><%= translation.gender %></th>
                        <th><%= translation.mail_private %></th>
                        <th><%= translation.mail_service %></th>
                        <th><%= translation.address %></th>
                        <th><%= translation.birthdate %></th>
                    </tr>

                    <% if (student_data.length > 0){  %>
                        <% student_data.forEach( function(student) { %>
                            <tr>
                                <td> <%= student["matric_number"] %> </td>
                                <td> <%= student["name"] %> </td>
                                <td> <%= student["gender"] %> </td>
                                <td> <%= student["private_email"] %> </td>
                                <td> <%= student["service_email"] %> </td>
                                <td> <%= student["address"] %> </td>
                                <td> <%= student["birthdate"] %> </td>
                            </tr>
                        <% }) %>
                    <% }; %>
                </table>

                <a href="/home"> <button class="StandardButton"><%= translation.nav_back %></button> </a>
            <div>
        </div>
    </body>

</html>